<h1>用戶資料</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">姓名</th>
      <th scope="col">性別</th>
      <th scope="col">生日</th>
    </tr>
  </thead>
  <tbody>
<% @users.each do |user| %>
    <tr>
      <th scope="row">1</th>
      <td><%= link_to user.name, user_path(user.id) %></td>
      <td><%= user.gender %></td>
      <td><%= user.solar_birthday.strftime("%F %H:%M") %></td>
      <td><%= link_to "刪除", user_path(user.id), data: {confirm: '確定要刪除嗎？'}, method: :delete %></td>
    </tr>
<% end %>
  </tbody>
</table>