/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "jquery-ui.css";
 @import "bootstrap";


//  table {
//   border: 1px solid #ccc;
//   border-collapse: collapse;
//   margin: 0;
//   padding: 0;
//   width: 100%;
//   table-layout: fixed;
// }

// table caption {
//   font-size: 1.5em;
//   margin: .5em 0 .75em;
// }

// table tr {
//   background-color: #f8f8f8;
//   border: 1px solid #ddd;
//   padding: .35em;
// }

// table th,
// table td {
//   padding: .625em;
//   text-align: center;
// }

// table th {
//   font-size: .85em;
//   letter-spacing: .1em;
//   text-transform: uppercase;
// }

// @media screen and (max-width: 600px) {
//   table {
//     border: 0;
//   }

//   table caption {
//     font-size: 1.3em;
//   }
  
//   table thead {
//     border: none;
//     clip: rect(0 0 0 0);
//     height: 1px;
//     margin: -1px;
//     overflow: hidden;
//     padding: 0;
//     position: absolute;
//     width: 1px;
//   }
  
//   table tr {
//     border-bottom: 3px solid #ddd;
//     display: block;
//     margin-bottom: .625em;
//   }
  
//   table td {
//     border-bottom: 1px solid #ddd;
//     display: block;
//     font-size: .8em;
//     text-align: right;
//   }
  
//   table td::before {
//     /*
//     * aria-label has no advantage, it won't be read inside a table
//     content: attr(aria-label);
//     */
//     content: attr(data-label);
//     float: left;
//     font-weight: bold;
//     text-transform: uppercase;
//   }
  
//   table td:last-child {
//     border-bottom: 0;
//   }
// }








.container {
  display: flex;
  flex-wrap: wrap;
}

#table-wrapper {
  display: flex;
  flex-direction: row;
}

#mingpan-table {
  order: 2;
  flex-basis: 40%;
  border: 3px solid #000;
}

#dayun-table {
  order: 3;
  flex-basis: 60%;
  height:100%
}

#liunian-table {
  order: 1;
  flex-basis: 58%;
  margin-left: 5px;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
}

#information {
  order: 4;
  flex-basis: 38%;
  margin-left: 5px;
  font-size: 20px;
}

#information-form {
  width:600px;
  // font-size: 20px;
}

.self-gan, .self-zhi {
  font-size: 35px;
  color: red;
}

.self-shishen {
  font-size: 25px;
}

.self-gan>p, .self-zhi>p{
  font-size: 15px;
  color: black;
}

.dayun_age, .dayun_shishen{
  line-height: 10px;
  height: 10px;
}
.dayun_age {
  color: #4F4F4F	;
  background-color: #E0E0E0;
}

.dayun{
  line-height: 20px;
  height: 20px;
  font-size: 25px;
}

.age {
  color: #4F4F4F	;
  background-color: #E0E0E0;
  border:1.3px solid black;
  line-height: 0.3;
}

.liunian_xi_yuan, .liunian_min_guo {
  line-height: 0.3;
  border:black;
}

.show_liunian_shishen, .show_liunian_dayun {
  line-height: 10px;
  height: 10px;
}

.liunian_shishen_gan {
  background-color: #D8D8EB;
}

.liunian {
  background-color: #C4E1E1	;
  border: black;
}

.table-bordered th, .table-bordered td {
  border: 1px solid black;
}

#liunian-table tr:nth-child(3n+1) {
  border-top: 3px solid #000;
}

#liunian-table tr:nth-child(3n+3):not(:nth-child(2)):not(:nth-child(1)) {
  border-bottom: 3px solid #000;
}